body{
	background-color: #0066ff;
}
h1{
	color: white;
}
#nome{
	margin: auto;
  	width: 35.5%;
  	border: 1px solid black;
  	border-radius: 50px;
  	padding: 0.5px;
  	border-style: double;
	border-width: 15px;
}
#pesquisa{
	color: white;
	margin: auto;
  	width: 17%;
  	border: 1px solid black;
  	border-radius: 20px;
  	padding: 1px;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 5%;
  	width: 80%;
  	text-align: center;
  	border-style: double;
  	border-width: 10px;
  	font-size: 18px;
}
#procurando{
	border: 3px solid black;
	border-radius: 10px;
	margin: auto;
  	padding: 1px;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 81%;
  	width: 80%;
  	text-align: center;
  	font-size: 18px;
}
button:hover {
	background-color: grey;
}
#botao{
	cursor: pointer;
	border: 2px solid black;
	border-radius: 10px;
	margin: auto;
  	padding: 1px;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 88%;
  	width: 20%;
  	text-align: center;
  	font-size: 18px;
}

#detalhe{
	border: 5px solid black;
	border-radius: 100px;
	border-style: double;
	border-width: 15px;
	margin: auto;
	padding: 200px;
	position: absolute;
  	left: 0;
  	right: 0;
  	top: 30%;
  	width: 25%;
  	text-align: center;
}